<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="aggressiveLazyLoading" value="true" />
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="Emp" type="com.jrestful.cms.vo.emp.Emp" />

	</typeAliases>

	<mappers>
		<mapper resource="mapper/emp/emp.xml" />
	</mappers>
</configuration> 